<% layout('layouts/boilerplate') %>
<h1>Log in</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    
        <div class="col-md-6">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-success">Log in</button>
        </div>
</form> 
<div class="col-12 mt-3">
  <a class="btn btn-primary" href="/register">Register</a>
</div>